<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to <%= title %> page</h1>
      <img src="./Assets/images/myPhoto.jpg" width="200" height="280">
      <div class="content">
        <h3>---------- My Information ----------</h3> 
        <p>Greeting! I am Ho Yin Wong, you can call me Thomas. I am a keen learner in Artificial Intelligence and a passionate developer in Python, Java, JavaScript and C</p>
        <p>You can explore what projects I have done in Projects page, what services I can provide in Services page, and how to contact me in Contact Me page :)</p>
        <p>Below is my resume</p>
        <a href="./file/HoYinWong_Resume.pdf" download="HoYinWong_Resume.pdf">
          <button>Download</button>
        </a>
      </div>
    </div>
  </main>

<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
