<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to <%= title %> page</h1>
      <img src="../public/Assets/images/proj1.png">
      <img src="../public/Assets/images/proj1a.png">
      <img src="../public/Assets/images/proj1b.png">
      <img src="../public/Assets/images/proj2.png">
      <img src="../public/Assets/images/proj2a.png">
      <img src="../public/Assets/images/proj3.png">
      <img src="../public/Assets/images/proj3a.png">
    </div>
  </main>

<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




