<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to <%= title %> page</h1>
      <table class="services" style="font-size:14px">
        <tbody>
          <tr></tr>
          <tr>
            <th style="width:120px">Services</th>
            <th>Description</th>
          </tr>
          <tr>
            <td>General Programming</td>
            <td>Strong familiarity with Python, Java, JavaScript, C</td>
          </tr>
          <tr>
            <td>Data Manipulation</td>
            <td>Extracting information and applying logic to it to generate a completely different set of data</td>
          </tr>
          <tr>
            <td>Machine Learning</td>
            <td>Building model for mcahine to learn the pattern and forecast the future trend</td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




